<ul class="main">
    <li><a href="/about.html">About</a></li>
    <li>
      <a href="#">Artists</a>
      <ul>
        <li><a href="/artists/vinikour.html">Jory Vinikour</a></li>
        <li><a href="/artists/leroy.html">Phillipe Leroy</a></li>
        <li><a href="/artists/chuang.html">Gloria Chuang</a></li>
        <li><a href="/artists/macdonald.html">Tim Macdonald</a></li>
      </ul>
    </li>
    <li><a href="/concerts.html">2015-2016 Concert Series</a></li>
    <li><a href="/events.html">Other Events</a></li>
    <li><a href="/support.html">Support GLB</a></li>
</ul>
